.profile-user-info-wrapper {
    background-color: chocolate;
}
.cover-img {

    img {
        height: 200px;
    }
}

.profile-img{

    img {
        margin-top: -100px;
        width: 100px;
        border-radius: 50px;
    }
}

.user-info {
    text-align: center;
}